* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(montenhas.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#logo {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(logo.png);
	height: 1px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a::after {
    content: '';
    position:absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(67, 205, 25);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #74d351;
	font-size: 55px;
    text-align:center;
    
	text-shadow: 
               -1px -1px 0px black, 
               -1px 1px 0px black,                    
                1px -1px 0px black,                  
                1px 0px 0px black;
}
.title h2{
    color:#86b675;
	font-size: 20px;
    text-align: center;
	text-shadow: 
    
               -1px -1px 0px black, 
               -1px 1px 0px black,                    
                1px -1px 0px black,                  
                1px 0px 0px black;

}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #010000;
	padding: 5px 20px;
	color: #000000;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #64cf32;
	color: #000;
}

.sub-menu{
	display: none;
    top:6%;
    position: relative;
}

.sub-menu ul{
	position: absolute;

}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: -8px;
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.main ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}