* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: red;
}

body {
    background: black;
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logo {
    font-size: 40px;
    color: rgb(47, 99, 55);
    letter-spacing: 1px;
    font-weight: 800;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a {
    color: var(--primary);
}

.search {
    position: relative;
    margin-left: 55rem;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 1 solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: rgb(0, 0, 0);
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: white;
    border-right: 1px solid white;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(inicio.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.content {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.img-title {
    max-width: 650px;
}

.banner .content h4 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 30px;
}

.banner.content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgb(0, 0, 0);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner.content h4 span:last-child {
    border-right: none;
}

.banner .content p {
    position: relative;
    display: flex;
    float: left;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: black;
    margin: 10px 0 20px;
}

.banner .carousel-box {
    position: relative;
    top: -15rem;
    right: -40rem;
    min-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    float: right;
}

.carousel {
    position: relative;
    height: 250px;
    perspective: 1500;
    float: right;
}

.carousel .carousel-item {
    width: 250px;
    cursor: pointer;
    float: right;
}

