* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(setup.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: aliceblue;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: aliceblue;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid aliceblue;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: aliceblue;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup:hover {
    background-color: aliceblue;
    color: rgb(5, 5, 5);
}

.remember-forgot {
    position: absolute;
    align-items: right;
    font-size: 13px;
  }

.h2 {
    padding: 15px;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 14.5%;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5%;
}

.btn {
    width: 40%;
    height: 25px;
    background: purple;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    align-items: center;
    margin-left: 25%;
}

.btn:hover {
    background-color: rgb(209, 34, 177);
    color: rgb(243, 237, 237);
}

select{
    width: 60%;
    text-align: center;

}

#check{
    margin-top: 5px;
    margin-bottom: 5px;
}